.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.menuItemName {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Malgun Gothic,
    맑은 고딕, 돋움, dotum, 굴림, gulim, Arial, sans-serif, Apple SD Gothic Neo !important;
  font-size: 14px;
  font-weight: 700;
}
