.header {
  width: var(--container-width);
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.seperator {
  margin: 2px;
  width: 1px;
  height: 10px;
  background-color: black;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Malgun Gothic,
    Dotum, 돋움, Apple SD Gothic Neo, Helvetica, Sans-serif;
  color: #555;
}
